---
const platform = "github";
const username = "obermoser"
---

<footer>
    <p>Erfahre mehr über meine Arbeit auf: <a target="_blank" href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
</footer>