---
const { frontmatter } = Astro.props;
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p>Verfasst von {frontmatter.author}</p>
    <Image
        loading="eager"
        src={frontmatter.image.url}
        width="300"
        height="150"
        alt={frontmatter.image.alt}
    />
    <slot />
</BaseLayout>
